#loginForm
{
	border: 5px ridge;
	display: inline-block;
	width:250px;
	height:150px;
	font-family:arial;
}
#loginForm p
{
	margin-left: 10px;
}
#loginForm label
{
	margin-left: 10px;
}
#userNameInput
{
	width:100px;
	margin-bottom: 10px;
}
#userSubmit
{
	margin-left: 10px;
}


#infoSection *
{
	display: inline-block;
}


nav p
{
	display: inline-block;
}

#instructions
{
	border: 2px solid black;
	display:block;
	width: 470px;
	height: 260px;
	padding-left: 30px;
	padding-top: 40px;
	font: 30px arial;
	margin-top: 0;
}

#quiz
{
	display: block;
	border: 2px solid black;
	width: 500px;
	height: 300px;
}